<div class="about-me" id="about-me">
  <h1>About Me</h1>
  <div class="about-me-container">
    <div class="about-me-left">
      <p>
        My name is Miguel and I live in Galicia, Spain. Currently, I'm part of
        an international team at a tech company, where I contribute to backend and frontend
        application development using modern technologies like Spring Boot, Angular,
        and many more.
      </p>
      <p>
        Throughout my education, I've had the opportunity to study in different countries,
        which has broadened my worldview and taught me how to quickly adapt to new environments.
        My goal is to continue growing professionally, adding value to dynamic teams, and working
        on projects that drive innovation in the software industry.
      </p>
      <p>
        When I'm not coding, I enjoy spending time with my friends, hiking, engaging in various
        sports, being in nature, and exploring new tech trends. My goal is to always stay
        curious and continue learning in this fast-paced industry.
      </p>
    </div>

    <div class="about-me-right">
      <img src="assets/profile-image/profile.JPG" alt="Profile Picture" />
    </div>
  </div>

</div>
