<div class="about-me" id="about-me">
  <h1>About Me</h1>
  <div class="about-me-container">
    <div class="about-me-left">
      <p>
        My name is Miguel and I live in Galicia, Spain. Currently, I work in a multidisciplinary team,
        contributing to a healthcare-related project with a focus on backend development and the design
        of scalable system architectures, using modern technologies like Spring Boot and Angular.
      </p>
      <p>
        Throughout my education, I've had the opportunity to study in different countries,
        which has broadened my worldview and taught me how to quickly adapt to new environments.
        My goal is to continue growing professionally, adding value to dynamic teams, and working
        on projects that drive innovation in the software industry.
      </p>
    </div>

    <div class="about-me-right">
      <img src="assets/profile-image/profile.JPG" alt="Profile Picture" />
    </div>
  </div>

</div>
