<div class="experience">
  <h2 class="section-title">Experiencia Laboral</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="dot"></div>
      <div class="content">
        <h3>Ingeniero de Software Junior</h3>
        <p class="company">GBTEC Group</p>
        <p class="date">Julio 2024 - Presente</p>
        <p>
          Participación en el desarrollo de aplicaciones de software utilizando Java y Spring Boot. Colaboración en la integración de aplicaciones de Microsoft con Microsoft Graph API.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="dot"></div>
      <div class="content">
        <h3>Prácticas como Ingeniero de Software</h3>
        <p class="company">Tech Innovators</p>
        <p class="date">Febrero 2024 - Junio 2024</p>
        <p>
          Desarrollo de una aplicación web utilizando Angular y Spring. Implementación de pruebas unitarias y de integración para asegurar la calidad del software.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="dot"></div>
      <div class="content">
        <h3>Desarrollador de Software (Freelance)</h3>
        <p class="company">Proyectos Independientes</p>
        <p class="date">Enero 2023 - Enero 2024</p>
        <p>
          Creación de diversas aplicaciones web, incluyendo un portal de e-commerce y una herramienta de gestión de tareas. Enfoque en el diseño UX/UI y la experiencia del usuario.
        </p>
      </div>
    </div>
  </div>
</div>
