<div class="experience" id="experience">
  <h2 class="section-title">Experience</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="dot"></div>
      <div class="content">
        <h3>Junior Software Engineer</h3>
        <p class="company">GBTEC Group</p>
        <p class="date">July 2024 - Present</p>
        <ul>
          <li>
            Spring Backend development utilizing frameworks and libraries as Spring Boot, Spring Data,
            Spring Cloud, Spring Security and Aspose to build robust and scalable applications.
          </li>
          <br>
          <li>
            Implemented unit and integration testing strategies using JUnit, test containers, and Mockito for
            Spring applications. Utilized SonarCloud to maintain high code quality standards throughout the
            development lifecycle.
          </li>
          <br>
          <li>
            Developed and validated prompt engineering implementations using the OpenAI API to enhance
            natural language processing capabilities. This work involved experimenting with different prompt
            structures to optimize response accuracy and relevance for various functionalities.
          </li>
          <br>
          <li>
            Executed integrations of Microsoft applications into the company's platforms using the Microsoft
            Graph API. This involved configuring authentication flows, managing user permissions, and
            creating automated workflows.
          </li>
          <br>
          <li>
            Development of complex SQL queries to extract specific data from a large PostgreSQL database
            while ensuring data integrity and accuracy.
          </li>
          <br>
          <li>
            Designed and implemented Power Automate flows and BPMN diagrams to automate tasks.
          </li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="dot"></div>
      <div class="content">
        <h3>Software Engineer Intern</h3>
        <p class="company">GBTEC Group</p>
        <p class="date">February 2024 - June 2024</p>
        <ul>
          <li>
            Angular Frontend development for an internal company tool. Implemented reusable components
            and optimized application performance, ensuring fast loading times and an intuitive interface.
            Gained expertise in best development practices and version control using Git and GitHub,
            facilitating seamless collaboration within the development team.
          </li>
          <br>
          <li>
            Applied agile methodologies, specifically Kanban, for project management.
          </li>
          <br>
          <li>
            Utilized Jira for task tracking, aiding in prioritization and effective management of project demands.
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
