<div class="projects-container" id="projects">
  <h1>&lt;/&gt; Proyectos</h1>

  <div *ngFor="let project of projects" class="project-card">
    <img [src]="project.images[project.currentImageIndex]" alt="Load image error" class="project-image"/>
    <div class="project-details">
      <h2>{{project.title}}</h2>
      <p>
        {{project.description}}
      </p>
      <div class="buttons">
        <button class="btn">
          Code
        </button>
        <button hidden class="btn">Preview</button>
      </div>
    </div>
  </div>
</div>
