<div class="projects-container" id="projects">
  <h1>&lt;/&gt; Projects</h1>

  <div *ngFor="let project of projects" class="project-card">
    <img [src]="project.images[project.currentImageIndex]" alt="Load image error" class="project-image"/>
    <div class="project-details">
      <h2>{{project.title}}</h2>
      <p>
        {{project.description}}
      </p>
      <div class="buttons">
        <button *ngIf="project.githubRepoUrl" class="btn" (click)="redirectTo(project.githubRepoUrl)">
          Code
        </button>
        <button *ngIf="project.previewUrl" class="btn" (click)="redirectTo(project.previewUrl)">Preview</button>
        <button *ngIf="project.demoVideoUrl" class="btn" (click)="redirectTo(project.demoVideoUrl)">Demo video</button>
      </div>
    </div>
  </div>
</div>
