.projects-container{
  text-align: center;
  margin-top: 100px;
  padding: 20px;
  min-height: 75vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.project-card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 60vw;
  margin: auto auto 30px auto;
  min-height: 40vh;
}

.project-image {
  max-width: 50%;
  max-height: 260px;
  border: 3px solid antiquewhite;
  border-radius: 15px;
  object-fit: contain;
  margin: auto;
}

.project-details {
  width: 35%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

h2 {
  font-size: 28px;
  margin: 0 0 10px 0;
  text-align: left;
}

p {
  flex-grow: 1;
  color: rgb(155, 155, 155);
  text-align: justify;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #24292e;
  color: white;
  border: 1px solid #838382;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #FFA726;
  color: black;
}


