<div class="contact-me" id="contact">
  <h1>Contact Me</h1>

  <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" required>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" rows="4" required></textarea>
    </div>
    <button type="submit">Send</button>
  </form>

  <div class="contact-details">
    <h2>Other Ways to Reach Me:</h2>
    <div class="other-contact-options">
      <p>Email: <a href="mailto:rodriguez.miguel4300@gmail.com">rodriguez.miguel4300&#64;gmail.com</a></p>
      <p>Phone: (+34) 604 009 206</p>
    </div>
  </div>
</div>
